.buy-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}
.price{
    text-align: center;
}
.card-text{
    color: gray;
}
.card{
    border-radius: 20px;
    border: none;
    box-shadow: 5px 10px lightgray;
}
.cat{
    padding-bottom: 20px;
}