.buy-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 150px;
}
.price{
    text-align: center;
    color: black;
    padding-bottom: 10px;
}
.card-text{
    color: gray;
}
.card{
    border-radius: 20px;
    border: none;
    box-shadow: 5px 10px 20px lightgray;
}
.cat{
    padding-bottom: 30px;
}
.see-color{
    color: orange;
}
.categories-image{
    border: none;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
}
.cat-col{
    color: hotpink;
}